@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body {
    height: 100%;
}

body {
   background-color: rgb(250,250,255);
}

#app {
    padding: 50px;
}

#todos {
    padding: 10px;
    background-color:  white;
    border-radius: 3px;
}

.todo {
    padding: 5px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.delete {
    margin-left: 10px;
}